extends layout

block content
  h1 Which comments by #{commenter.name} were best answers in #{titleSuffix(site, category, startDate, endDate)}?
  
  table.results
    tr
      th Date
      th Post
    - each c in comments
      tr
        td.date
          | #{date(c.created)}
        td
          a(href = commentUrl(site, c.post_id, c.comment_id)) !{titleHtml(c.title, c.deleted)}
  
  script
    setupInfiniteScroll()