body
  font-family Verdana, sans-serif
  font-size 10pt
  font-weight normal
  margin 20px
  color white

h1
  font-family Georgia, 'Times New Roman', serif
  font-size 16pt
  font-weight normal
  color #ffffcc
  margin 20px 0 20px 0

h2
  font-family Georgia, 'Times New Roman', serif
  font-size 14pt
  font-weight normal
  color #ffffcc
  margin 10px 0 10px 0

  a
    color #ffffcc

p
  padding 3px 0 3px 20px

a
  text-decoration none
  color #cccc00

a:hover
  text-decoration underline

div#loading
  margin-left 20px

table.results
  margin-left 20px

table.results th
  padding 0 20px 4px 0
  text-align left

table.results td
  padding 0 20px 4px 0

table.results td.number
  text-align right
  
table.results td.user
  max-width 200px

table.results td.date
  width 60pt  

table.results td .reason
  font-size 80%
  max-width 600px
  color #cccccc
  padding-top 2px

table.results td .reason a
  color white

td.find
  text-align right
  padding-right 5px

table.common-controls td
  padding 0 2px 0 2px

form
  margin 5px 0 0 20px

.logo
  font-family Georgia, 'Times New Roman', serif
  font-size 28pt
  font-weight normal
  color #ffffcc
  margin 20px 0 20px 0px
  
  span
    color white
    opacity 0.25

#best
  display none

.ui-datepicker
  font-size 80%

table.ui-datepicker-calendar
  th
    color black

input
  margin 1px 0 1px 0

input.text
  color white
  border-style none
  border-color white
  border-width 1px
  border-bottom-style solid
  background-color transparent
  font-family Verdana, sans-serif
  font-size 10pt
  font-weight normal

.deleted
  text-decoration line-through

